<table class="table text-center">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compra</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let celular of celulares" [ngClass]="{'clearance' : celular.clearance}">
            
            <td> <img [src]= "celular.imagen" [alt]="celular.nombre" class="imagen-celu"/></td>
            <td>{{celular.marca}}</td>
            <td>{{celular.tipo}}</td>
            <td>{{celular.nombre}}</td>
            <td>{{celular.precio |currency}}</td>
            <td> <span class="badge text-bg-warning" *ngIf="celular.stock == 0">SIN STOCK</span><span *ngIf="celular.stock > 0">CON STOCK</span></td>
            <td>      
                
                <app-input-number [(cantidad)]="celular.cantidad"  [max]="celular.stock"></app-input-number>
                <span *ngIf="celular.stock > 0"> MAX: {{celular.stock}}</span>
                
            </td>
            <td><button class="btn btn-primary" (click)="addToCart(celular)">Comprar</button></td> 
        </tr>
    </tbody>
</table>

